

@media (min-width:769px) and (max-width:1024px) {

    .navigation{
        width: 55%;
    }

    .nav-link{
        width: 20%;
    }

    /* css for banner */

    .banner{
        width: 100%;
        height: 100vh;

    }

    .banner-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        
    
    }

    
    .banner-details{
        display: none;
    }

    .banner-details-right{
        display: none;
    }

    .mobile-banner{
        width: 100%;
        height: 80vh;
        align-self: flex-end;
        display: block;

    }

    .mobile-banner p{
        font-family: 'Licorice', cursive;
       font-size: 45px;
       width: 100%;
       height: 90vh;
       display: flex;
       align-items: flex-end;
       justify-content: center;
       padding: 0 0 70px 0;
       /* background-color: black; */
       color: white;


   }

   .mobile-banner .lft{
       padding: 0 30px 0 0;
       animation-name: lft;
       animation-iteration-count: 1;
       animation-play-state: running;
       animation-duration: 1.5s;
   }

   @keyframes lft {

       0%{
           opacity: 0;
       }
       25% {
           margin-left: 0px;
           opacity: 0;
       }
   
       60% {
           margin-right: 50px;
           opacity: 0;
       }
   
       80%{
           margin-right: 0px;
           opacity: 1;
       }

       
   

   }

   .mobile-banner .rgt{
       padding: 0 30px 0 0;
       animation-name: rgt;
       animation-iteration-count: 1;
       animation-play-state: running;
       animation-duration: 1.5s;
   }

   @keyframes rgt {

       0%{
           opacity: 0;
       }
       25% {
           margin-left: 0px;
           opacity: 0;
       }
   
       60% {
           margin-left: 50px;
           opacity: 0;
       }
   
       80%{
           margin-right: 0px;
           opacity: 1;
       }

       
   

   }

   /* css for upcoming-model */

   .latest-model{
       width: 100%;
       height: 100vh;
   }

   .upcoming{
    height: 100vh;
    background-size: contain ;
    background-position-y: 120px;
   }



   /* css for galler */

   

   .fade-carousal{
    width: 100%;
    height: 90vh;
    
   }

   .carousel{
    width: 100%;
    height: 70vh;
}


   .carousel_child:nth-child(1){
    height: 70vh;
    width: 100%
}


   .carousel_child:nth-child(2){
    height: 70vh;
    width: 100%;

}

    .carousel_child:nth-child(3){
    height: 70vh;
    width: 100%;
}

    .carousel_child:nth-child(4){
    height: 70vh;
    width: 100%;
}

    .carousel_child:nth-child(5){
    height: 70vh;
    width: 100%;
}
    
}