@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');

@media (min-width:320px) and (max-width:480px){

    /* css for header */

    .header{
        width: 100%;
        height: auto;
        /* background-color: white; */
        ;

    }

    .header:hover .navigation{
        height: 250px;
    }

    

    .header-container{
        flex-wrap: wrap;
    }

    
    .logo{
        height: 50px;
        font-size: 25px;
        width: 100%;
        /* background-color: tomato; */
        justify-content: center;
    }

    .logo img{
        width: 20%;
    }

    .navigation{
        width: 100%;
        background-color: black;
        height: 0px;
        overflow: hidden;
    }

    .nav{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        height: 50px;
        line-height: 50px;
    }


    /* css for banner */

    .banner{
        width: 100%;
        height: 50vh;
    }

    .mobile-banner{
        display: none;
    }

    .banner-container{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .banner-details{
        font-family: 'Licorice', cursive;
        width: 50%;
        height: 35vh;
        margin-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;

        animation-name: slide-in;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-timing-function: ease-in-out;
    }

        @keyframes slide-in{
            0%{
                opacity: 0;
            }
            25% {
                margin-left: 0px;
                opacity: 0;
            }
        
            60% {
                margin-right: 20px;
                opacity: 1;
            }
        
            80%{
                margin-right: 0px;
                opacity: 1;
            }
    }

    .banner-details-right{
        font-family: 'Licorice', cursive;
        width: 50%;
        height: 35vh;
        margin-right: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;

        animation-name: slide-out;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-timing-function: ease-in-out;
        /* animation-delay: 1s; */
        
    
    }
    
    @keyframes slide-out{
        0%{
            opacity: 0;
        }
        25% {
            margin-right: 0px;
            opacity: 0;
        }
    
        60% {
            margin-left: 20px;
            opacity: 1;
        }
    
        80%{
            margin-left: 0px;
            opacity: 1;
        }
    }
    

    .banner-details h3 , .banner-details-right h3{
        font-size: 15px;
        line-height: 0px;
    }

    /* css for models */

    .model{
        padding: 25px 0 25px 0;
    }

    .product-container h2{
        font-size: 25px;
        padding: 0 0 30px 0;
    }

    .model-type{
        width: 100%;
        flex-wrap: wrap;
    }

    .car-model{
        margin: auto;
    }

    .car-type h2{
        font-size: 15px;
    }

    .car-type h3{
        font-size: 16px;
    }

    .car-type p{
        font-size: 14px;
    }

    .btn{
        margin: 20px 0 20px 0;
        font-size: 14px;
        padding: 10px;
    }


    /* css for upcoming-model */

    .latest-model{
        width: 100%;
        height: 50vh;
    }

    .upcoming{
        width: 100%;
        height: 40vh;
        /* background-size: contain ; */
        background-position-y: 100px ;
        background-position: center;

    }

    .upcoming h1{
        font-size: 25px;
    }

    .img-window{
        width: 100%;
        height: 50vh;
    }

    .left-div{
        width: 50%;
        height: 50vh;
        font-size: 20px;
    }

    .right-div{
        width: 50%;
        height: 50vh;
        font-size: 20px;
    }

    .left-div h1{
        padding: 0 10px 0 0;
    }

    .right-div h1{
        padding: 0 0 0 10px;
    }

    .overlay{
        width: 100%;
        height: 50vh;
    }


    /* css for gallery */



    .fade-carousal{
        width: 100%;
        height: 50vh;
        
    }

    .fade-carousal h2{
        font-size: 25px;
    }

    .carousel{
        width: 100%;
        height: 40vh;
    }

    .carousel-child{
         width: 100%; 
        /* height: 50vh;  */
        background-size: contain;
    }

    .carousel_child:nth-child(1){
        height: 40vh;
        width: 100%
    }

    .carousel_child:nth-child(2){
        height: 40vh;
        width: 100%;

    }

    .carousel_child:nth-child(3){
        height: 40vh;
        width: 100%;
    }

    .carousel_child:nth-child(4){
        height: 40vh;
        width: 100%;
    }

    .carousel_child:nth-child(5){
        height: 40vh;
        width: 100%;
    }
    
    /* css for contact form */



    .contact-container h1{
            font-size: 25px;
        }

    .form-field{
        font-size: 12px;
    }

    .contact-btn{
        font-size: 14px;
    }

}




